<%- include("partials/header") -%>
        <div class="container">
            <div class="breadcrumb">
                <a href="/dashboard" class="breadcrumb-item">/dashboard</a>
            </div>
            <div class="dashboard mt-3">
                <ul class="nav-items">
                    <a  href="/profile" style="position: relative;">
                        <li class="nav-item btn"><img src="/img/myicons/social.svg" alt="" height="50"
                                width="50"><p>Profile</p>
                                </li>
                    </a>
                    <a href="/timetable">
                        <li class="nav-item btn"><img src="/img/myicons/date.svg" alt="" height="50"
                                width="50"><p>Timetable</p>
                                </li>
                    </a>
                   <a href="">
                        <li class="nav-item btn"><img src="/img/myicons/learning.svg" alt="" height="50" width="50">
                            <p>Library</p>
                        </li>
                   </a>
                    <a href="/results">
                        <li class="nav-item btn"><img src="/img/myicons/file.svg" alt="" height="50"
                                width="50"><p>Results</p>
                                </li>
                    </a>
                    <a href="/">
                        <li class="nav-item btn">
                            <img src="/img/myicons/notification.svg" alt="" height="50" width="50">
                            <p>Notifications</p>
                        </li>
                    </a>
                    <a href="/examinations" class="disabled">
                        <li class="nav-item btn"><img src="/img/myicons/paper-clip.svg" alt="" height="50"
                                width="50"><p>Examinations</p>
                                </li>
                    </a>
                    <a href="">
                        <li class="nav-item btn"><img src="/img/myicons/education.svg" alt="" height="50" width="50">
                            <p>Pay fees</p>
                        </li>
                    </a>
                    <a href="/payments">
                        <li class="nav-item btn"><img src="/img/myicons/business-and-finance.svg" alt="" height="50"
                                width="50">
                                <p>Payment history</p>
                        </li>
                    </a>
                    <a href="/demographics">
                        <li class="nav-item btn">
                            <img src="/img/myicons/graph.svg" alt="" height="50" width="50">
                            <p>Demographics</p>
                        </li>
                    </a>
                    <a href="/">
                        <li class="nav-item btn">
                            <img src="/img/myicons/profession.svg" alt="" height="50" width="50">
                            <p>Staffs</p>
                        </li>
                    </a>
                    <a href="/">
                        <li class="nav-item btn">
                            <img src="/img/myicons/chat.svg" alt="" height="50" width="50">
                            <p>SMS</p>
                        </li>
                    </a>
                    <a href="/">
                        <li class="nav-item btn">
                            <img src="/img/myicons/note.svg" alt="" height="50" width="50">
                            <p>EMAIL</p>
                        </li>
                    </a>
                    <a href="">
                        <li class="nav-item btn">
                            <img src="/img/myicons/electronics.svg" alt="" height="50" width="50">
                            <p>Settings</p>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
<%- include("partials/footer") -%>
