<%- include("partials/header") -%>

<div class="container text-center">
     <div class="breadcrumb">
         <a href="/dashboard" class="breadcrumb-item">/dashboard</a>
         <a href="/<%= current_page%>" class="breadcrumb-item"><%= current_page%></a>
     </div>
    <pre>Sorry there are no examinations for now</pre>
</div>

<%- include("partials/footer") -%>