<%- include("partials/header") -%>

<div class="container-fluid">
    <div class="breadcrumb">
        <a href="/dashboard" class="breadcrumb-item">/dashboard</a>
        <a href="/results" class="breadcrumb-item">results</a>
    </div>
    <table class=" table table-bordered m-auto" style="width: 90%">
        <h1 class="text-center">Report Sheet</h1>
        <thead>
            <tr>
                <th scope="col">Subject/Task</th>
                <th scope="col">1st Ass</th>
                <th scope="col">2nd Ass</th>
                <th scope="col">1st CA</th>
                <th scope="col">2nd CA</th>
                <th scope="col">Examinations</th>
                <th scope="col">Remark</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th id="subject" scope="row">Maths</th>
                <td id="1st_ass">10</td>
                <td id="2nd_ass">10</td>
                <td id="1st_ca">20</td>
                <td id="2nd_ca">20</td>
                <td id="examination">60</td>
                <td id="remark">Excellent</td>
            </tr>
            <tr>
                <th scope="row">English</th>
                <td id="1st_ass">10</td>
                <td id="2nd_ass">10</td>
                <td id="1st_ca">20</td>
                <td id="2nd_ca">20</td>
                <td id="examination">60</td>
                <td id="remark">Excellent</td>
            </tr>
            <tr>
                <th scope="row">Biology</th>
                <td id="1st_ass">10</td>
                <td id="2nd_ass">10</td>
                <td id="1st_ca">20</td>
                <td id="2nd_ca">20</td>
                <td id="examination">60</td>
                <td id="remark">Excellent</td>
            </tr>
            <tr>
                <th scope="row">Chemistry</th>
                <td id="1st_ass">10</td>
                <td id="2nd_ass">10</td>
                <td id="1st_ca">20</td>
                <td id="2nd_ca">20</td>
                <td id="examination">60</td>
                <td id="remark">Excellent</td>
            </tr>
            <tr>
                <th scope="row">Physics</th>
                <td id="1st_ass">10</td>
                <td id="2nd_ass">10</td>
                <td id="1st_ca">20</td>
                <td id="2nd_ca">20</td>
                <td id="examination">60</td>
                <td id="remark">Excellent</td>
            </tr>
        </tbody>
    </table>

</div>

<%- include("partials/footer") -%>