<%- include("partials/header") -%>

<div class="container-fluid">
    <div class="breadcrumb">
        <a href="/dashboard" class="breadcrumb-item">/dashboard</a>
        <a href="/timetable" class="breadcrumb-item">timetable</a>
    </div>
    <table class=" table table-bordered m-auto" style="width: 90%">
        <caption>Timetable</caption>
        <h1 class="text-center">Timetable</h1>
        <thead>
            <tr>
                <th scope="col">Day/Time</th>
                <th scope="col">Time</th>
                <th scope="col">Time</th>
                <th scope="col">Time</th>
                <th scope="col">Time</th>
                <th scope="col">Time</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <th scope="row">Monday</th>
                <td>Maths</td>
                <td>English</td>
                <td>BREAK</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td>Maths</td>
                <td>English</td>
                <td>BREAK</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td>Maths</td>
                <td>English</td>
                <td>BREAK</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
            <tr>
                <th scope="row">Thursday</th>
                <td>Maths</td>
                <td>English</td>
                <td>BREAK</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <td>Maths</td>
                <td>English</td>
                <td>BREAK</td>
                <td>Biology</td>
                <td>Physics</td>
            </tr>
        </tbody>
    </table>

</div>

<%- include("partials/footer") -%>
